main {
    padding-bottom: 90px;
    padding-top: 10px;
}

.navAux{
    margin-left: 25px;
    margin-right: 25px;
}

.nav-item{
    border-radius: 5px;
}

.nav-item:hover {
    background:#605d5d;
    transition: all 0.2s linear;
}

footer p{
    color: white;
    padding-top: 10px;
}

main h2 {
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fotoNos {
    width: 100%;
}
.qscont {
    padding-bottom: 15px;
}

.form_box {
    background: whitesmoke;
    padding: 30px;
    border: 1px solid #666;
    border-radius: 20px;

}

.input_box {
    padding: 5px;
    margin-bottom: 5px;
    position: relative
}

.input_box input {
    font-size: 15px;
    padding: 0px 10px;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #999;
    font-weight: 500;
    letter-spacing: .5px;
    border-radius: 2px;
    background: #ffff;
}

.input_box textarea {
    font-size: 15px;
    padding: 0px 10px;
    display: block;
    width: 100%;
    height: 150px;
    border: 1px solid #999;
    font-weight: 500;
    color: #222;
    letter-spacing: .5px;
    border-radius: 5px;
    background: #ffff;
}

.btn button {
    color: white;
}

.formu {
    width: 80%;
}
.cardBod:hover {
    box-shadow: 5px 5px 20px lightgray;
    transform: translateY(-3%);
}